.wrapper *:not(a) {
  background: #ffcc00;
  padding: 10px;
}

/* Map areas */
.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}

.show-tablet, .show-desktop {
    display: none;
}

.main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav li {
  margin: 0;
  padding-left: 5px;
  background: green;
  border: 1px solid #ffcc00;
}

.main-nav li:hover {
  background: pink;
}

.main-nav li.active {
  background: purple !important;
}

/* Mobile Layout */


.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
      "nav"
      "content"
      "header"
      "ad"
      "footer";
}


/* tablet layout */

@media (min-width: 500px) {
  .show-tablet {
    display: block;
  }
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "sidebar content"
      "ad      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

/* Desktop layout */


@media (min-width: 750px) {

  .show-desktop {
    display: block;
  }

  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}
