$flagwidth:400px;
$denmarkcolor: rgb(182,41,54);
$flagheight:250px;
$gold:rgb(240,211,78);
$czechred:rgb(198, 47, 40);
$czechblue: #11457E;
$congogreen: #009543;
$congogyellow: #FBDE4A;
$congored: mix(#D21034, #DC241F, 60);
$malaysiared:rgb(187,38,26);
$malaysiablue: rgb(0,9,98);
$malaysiayellow: rgb(248,204,70);
$usred: #B22234;
$usblue: #3C3B6E;
